Houdini/Models/OBJ/*.obj
Houdini/Models/OBJ/*.mtl
Houdini/Models/BGEO/*.bgeo
Houdini/Models/BGEO/JSON_ALL/*.json
Houdini/Models/Options/*.bgeo
Houdini/backup
Houdini/otls/backup

# UE
WFC_Hextile_UE/Intermediate/*
WFC_Hextile_UE/Saved/*
WFC_Hextile_UE/DerivedDataCache/*